# Assignment Topic: Pandas Advance

### Done By: Akshaj Piri

**Question 1**: List any five functions of the pandas library with execution.

Five commonly used functions in the pandas library with their execution are:

**read_csv()**: This function is used to read a CSV file and create a DataFrame.

In [9]:
# Example

import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('train.csv')

**head()**: This function is used to display the first few rows of a DataFrame.

In [10]:
# Example

import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('train.csv')

# Display the first 5 rows of the DataFrame
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

**info()**: This function provides information about the DataFrame, including the data types and number of non-null values in each column.

In [11]:
# Example

import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('train.csv')

# Display information about the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

**describe()**: This function generates descriptive statistics of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles.

In [12]:
# Example

import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('train.csv')

# Generate descriptive statistics of the DataFrame
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

**groupby()**: This function is used to group the data in a DataFrame based on one or more columns and perform aggregations on the groups.

In [15]:
# Example

import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('train.csv')

# Group the data by 'category' column and calculate the mean of 'value' column for each group
grouped_df = df.groupby('PassengerId')['Survived'].mean()
print(grouped_df)

PassengerId
1      0.0
2      1.0
3      1.0
4      1.0
5      0.0
      ...
887    0.0
888    1.0
889    0.0
890    1.0
891    0.0
Name: Survived, Length: 891, dtype: float64

**Question 2**: Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [16]:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index of the DataFrame starting from 0
    df.reset_index(drop=True, inplace=True)
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    
    # Assign the new index to the DataFrame
    df.index = new_index
    
    return df

**Question 3**: You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [18]:
import pandas as pd

def calculate_sum_of_first_three(df):
    # Extract the 'Values' column as a Series
    values_series = df['Values']
    
    # Get the first three values and calculate their sum
    first_three_sum = values_series.head(3).sum()
    
    # Print the sum to the console
    print("Sum of the first three values:", first_three_sum)

In [19]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Call the function to calculate the sum
calculate_sum_of_first_three(df)

Sum of the first three values: 60

**Question 4**: Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [20]:
import pandas as pd

def count_words(df):
    # Split the 'Text' column into words and count the number of words
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))

In [21]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({'Text': ['This is a sentence', 'Another sentence with more words', 'Short sentence']})

# Call the function to count words
count_words(df)

# Print the updated DataFrame
print(df)

                               Text  Word_Count
0                This is a sentence           4
1  Another sentence with more words           5
2                    Short sentence           2

**Question 5**: How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size and DataFrame.shape are two different attributes in Pandas DataFrame that provide different information about the DataFrame.

- **DataFrame.size** returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns. It represents the overall size of the DataFrame in terms of the number of elements.

- **DataFrame.shape** returns a tuple that represents the dimensions of the DataFrame. It provides information about the number of rows and columns in the DataFrame. The tuple contains two elements: the first element represents the number of rows, and the second element represents the number of columns.

**Question 6**: Which function of pandas do we use to read an excel file?

To read an Excel file using pandas, you can use the **pandas.read_excel()** function. This function allows you to read the contents of an Excel file into a pandas DataFrame.

**Question 7**: You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. 

The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [22]:
import pandas as pd

def extract_username(df):
    # Split the email addresses and extract the username
    df['Username'] = df['Email'].str.split('@').str[0]
    
    return df

# Create a sample DataFrame
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})

# Call the function to extract the username
df = extract_username(df)

# Print the updated DataFrame
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

**Question 8**: You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:
  
â€“ A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

In [23]:
import pandas as pd

def select_rows(df):
    # Select rows where column 'A' > 5 and column 'B' < 10
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    
    return selected_rows

# Create a sample DataFrame
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# Call the function to select rows
selected_df = select_rows(df)

# Print the selected DataFrame
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2