# Assignment Topic: MySQL

### Done By: Akshaj Piri

**Question 1**: What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of the data. It provides a mechanism for storing, organizing, and managing large volumes of data, making it easy to retrieve and update information.

The difference between SQl and NoSQL databases are:

**SQL Databases**:

- SQL databases are based on the relational model and use structured query language (SQL) for defining and manipulating the data.
- They have a predefined schema that specifies the structure of the data and enforces relationships between tables.

**NoSQL Databases**:

- NoSQL databases are designed to handle unstructured, semi-structured, and highly variable data.
- They offer a flexible schema that allows for dynamic and agile data models, making it easier to handle evolving data requirements.

**Question 2**: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database. It includes statements that are used to create, modify, and delete database objects such as tables, views, indexes, and constraints. DDL statements define the schema of the database and determine how the data is organized and stored.

1. CREATE: The CREATE statement is used to create database objects such as tables, views, indexes, or schemas.

In [8]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create a table
cursor.execute('''CREATE TABLE Employees (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    salary REAL
                )''')

# Commit the changes and close the connection
conn.commit()
conn.close()

2. **DROP**: The DROP statement is used to remove database objects such as tables, views, or indexes.

In [4]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Drop a table
cursor.execute('DROP TABLE Employees')

# Commit the changes and close the connection
conn.commit()
conn.close()

3. **ALTER**: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns, constraints, or indexes.

In [9]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Alter a table
cursor.execute('ALTER TABLE Employees ADD COLUMN email TEXT')

# Commit the changes and close the connection
conn.commit()
conn.close()

4. **TRUNCATE**: The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. However, in Python, TRUNCATE is not directly available in all database systems. Instead, you can achieve a similar effect using DELETE statement without a WHERE clause to delete all rows from the table.

In [10]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Truncate a table (using DELETE statement in this case)
cursor.execute('DELETE FROM Employees')

# Commit the changes and close the connection
conn.commit()
conn.close()

**Question 3**: What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that is used to manipulate data within a database. DML statements include INSERT, UPDATE, DELETE, and SELECT.

1. **INSERT**: The INSERT statement is used to insert new rows of data into a table.

In [11]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Insert a row into a table
cursor.execute("INSERT INTO Employees (id, name, salary) VALUES (1, 'John Doe', 5000)")

# Commit the changes and close the connection
conn.commit()
conn.close()

2. **UPDATE**: The UPDATE statement is used to modify existing data in a table.

In [12]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Update a row in a table
cursor.execute("UPDATE Employees SET salary = 6000 WHERE id = 1")

# Commit the changes and close the connection
conn.commit()
conn.close()

3. **DELETE**: The DELETE statement is used to remove rows from a table.

In [13]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Delete a row from a table
cursor.execute("DELETE FROM Employees WHERE id = 1")

# Commit the changes and close the connection
conn.commit()
conn.close()

**Question 4**: What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. The most commonly used DQL statement is SELECT, which allows you to query the database and retrieve specific data based on specified conditions.

In [14]:
# Example

import sqlite3

# Connect to the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Execute a SELECT query
cursor.execute("SELECT * FROM Employees")

# Fetch all the rows returned by the query
rows = cursor.fetchall()

# Iterate over the rows and print the data
for row in rows:
    print(row)

# Close the connection
conn.close()

**Question 5**: Explain Primary Key and Foreign Key.

**Primary Key**: 

A primary key is a column or a set of columns in a database table that uniquely identifies each record in the table. It serves as a unique identifier for each row and ensures the integrity and uniqueness of the data.

**Foreign Key**:

A foreign key is a column or a set of columns in a database table that establishes a link between two tables. It creates a relationship between the referencing table (child table) and the referenced table (parent table). The foreign key column(s) in the child table references the primary key column(s) in the parent table. It helps enforce referential integrity and maintain data consistency between related tables.

**Question 6**: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [18]:
%pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.10/dist-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.10/dist-packages (from mysql-connector-python) (3.20.3)

In [ ]:
import mysql-connector-python

# Establish connection to MySQL
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Create a table
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255))")

# Execute an SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch all the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

# Close the cursor and connection
mycursor.close()
mydb.close()

**Question 7**: Give the order of execution of SQL clauses in an SQL query.

In a typical SQL query, the order of execution of the clauses is as follows:

1. **FROM**: Specifies the table(s) from which the data is retrieved.

2. **WHERE**: Filters the data based on specified conditions.

3. **GROUP BY**: Groups the data based on specified columns.

4. **HAVING**: Filters the grouped data based on specified conditions.

5. **SELECT**: Specifies the columns to be retrieved from the data.

6. **DISTINCT**: Removes duplicate rows from the result set.

7. **ORDER BY**: Sorts the result set based on specified columns.

8. **LIMIT/OFFSET**: Limits the number of rows returned or skips a certain number of rows.